<ion-view title="Administrators List" id="page4">
    <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header"><div class="red-header-button">
    <div class="spacer" style="height: 25px;"></div>        
        
 <strong>      
<p>TRAIN8 TRAIN<hr />
TRAIN6 TRAIN<hr />
TRAIN27  TRAIN<hr />
TRAIN26  TRAIN<hr />
TRAIN24  TRAIN<hr />
TRAIN21  TRAIN<hr />
TRAIN20 TRAIN<hr />
TRAIN2 TRAIN<hr />
TRAIN19 TRAIN<hr />
TRAIN18 TRAIN<hr />
TRAIN17 TRAIN <hr />
</p></strong>    
    </ion-content>
</ion-view>