<ion-view title="Change Password" id="page12">

<ion-nav-buttons side="left"></ion-nav-buttons>
    <ion-content  padding="true" style="background: url(shared/images/Homepage-login-page-bg.jpg) no-repeat center;background-size:cover;" class="has-header">

     <div class="spacer" style="width: 200px; height: 75px;"></div>
     <div>

  <img src="shared/images/iN-logo-lrg.png"   style="display: block; margin-left: auto; margin-right: auto;" ng-show="showGenericLogo">
  <img src="shared/images/honda-log-logo.png"   style="display: block; margin-left: auto; margin-right: auto;" ng-show="showHondoLogo">
  
</div>
<div class="reset-forgot-text">
     <div class="row">

      <div class="col"></div>
  <div class="col col-75"><div class="list list-inset mt120">
  <br />
    <form name="myForm" novalidate >
    
       
          <div align="center"><strong>Password must meet the <br />
			following requirements:</strong></div>
          <div class="errortext-change-pass" ><br />
           
           <p><ion-icon ng-class="{0:'ion-record', 1:'ion-checkmark',2:'ion-close'}[char8]"></ion-icon> At least 8 characters </p>
             <p> <ion-icon ng-class="{0:'ion-record', 1:'ion-checkmark',2:'ion-close'}[capital]"></ion-icon> At least 1 capital letter</p>
             <p> <ion-icon  ng-class="{0:'ion-record', 1:'ion-checkmark',2:'ion-close'}[isNum]"></ion-icon> At least 1 number</p>
           <p>  <ion-icon ng-class="{0:'ion-record', 1:'ion-checkmark',2:'ion-close'}[isMatch]"></ion-icon> Passwords must match </p>
            <br /></div>
         <div class="whitetext">
           <div align="center"><strong>*Special characters are permitted</strong></div>
         </div>
          <div class="fieldlist">    	
                <input type="hidden" >
        	<label class="item item-input input-transparent mt10">
                <input type="text" name="dealer" placeholder="CURRENT PASSWORD" ng-model="changepwd.dealer">
        	</label><br />
          
            <label class="item item-input input-transparent mt10">
                <input type="text" name="newpass" placeholder="NEW PASSWORD" ng-model="changepwd.newpass"  ng-change="validate()">
            </label><br />
            
            <label class="item item-input input-transparent mt10">
                <input type="text" name="confirmnewpass" placeholder="CONFRIM NEW PASSWORD" ng-model="changepwd.confirmnewpass" ng-change="compare()">
            </label><br />
        
    </form>
      <!-- <form name="myForm" novalidate>
    
       
          <div align="center"><strong>Password must meet the <br />
following requirements:</strong></div>
          <div class="errortext-change-pass"><br />
           ion-record   ion-close ion-checkmark
           <p><ion-icon class="ion-record" id="8CharRule"></ion-icon> At least 8 characters </p>
           <p><ion-icon class="ion-record" id="1CapitalLetter"></ion-icon> At least 1 capital letter</p>
           <p><ion-icon class="ion-record" id="atLeast1Number"></ion-icon> At least 1 number</p>
           <p><ion-icon class="ion-record" id="passwordMustMatch"></ion-icon> Passwords must match </p>
            <br /></div>
         <div class="whitetext">
           <div align="center"><strong>*Special characters are permitted</strong></div>
         </div>
          <div class="fieldlist">
    <label class="item item-input input-transparent mt10">
                <input type="text" name="dealer" placeholder="CURRENT PASSWORD" ng-model="dealer">
        </label> <br />
            

          
            <label class="item item-input input-transparent mt10">
                <input type="text" name="newpass" placeholder="NEW PASSWORD" ng-model="newpass"  ng-keyup="compare(newpass)" required >
            </label><br />
            
            
            <label class="item item-input input-transparent mt10">
                <input type="text" name="confirmnewpass" placeholder="CONFRIM NEW PASSWORD" ng-model="confirmnewpass">
            </label><br />
          
         
        
    </form>
 --> </div>
  
      <div class="row">

  <div class="col"> 
  
  <a href="#/login" class="button-white  button-small  button-block button-outline-white" id="login-button41">SUBMIT</a>
  
  
  <br />
        </div>
  <div class="col"> <a ng-click="resetForm()" class="button-white  button-small  button-block button-outline-white" id="login-button41">CLEAR</a></div>

</div>
        
     
      </div>
  </div>
  <div class="col"></div>

</div>

  
  </ion-content>
</ion-view>
