<ion-view title="Dealer Dashboard" id="page10">
    <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header"><div class="red-header-button">
            <div class="row">
              <div class="col col-30">
              </div>
                <div class="col col-30">
                </div>
                <div class="col col-40">
                    <div align="center"><a style="display:block;" ui-sref="tabsController.dealerSubmenu">
                       
                      <img src="shared/images/select-report-button.png" width="99" height="48" style="display: block; margin-left: auto; margin-right: auto;">                    </a> </div>
                </div>
            </div>
        </div>
        
        
        <ion-slide-box>
    <ion-slide>
           
      <div class="spacer" style="width: 300px; height: 20px;"></div>
       <div style="margin-right:-20px;">
    <button style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light  button-full chart-header-lrg">&nbsp;&nbsp;Retail Sales Summary
    <div class="small-text-chart-header-lrg">Reported as of: 04/04/2011</div>  

</button>
</div>            
                <div class="row">
                  <div class="col col-60">
                        <br>
                  </div>
                    <div class="col col-20">
                      <div align="right"><strong>Dealer</strong></div>
                    </div>
                    <div class="col col-20">
                      <div align="right"><strong>District</strong></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Pending RDRs</div>
                    <div class="col col-20">
                      <div align="right">-</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Today<sup> 1 </sup></div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Previous</div>
                    <div class="col col-20">
                      <div align="right">3</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">113</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">MTD</div>
                    <div class="col col-20">
                      <div align="right">3</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">130</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">YTD</div>
                    <div class="col col-20">
                      <div align="right">355</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">3,924</div>
                    </div>
                </div>
        <div class="row">
                    <div class="col col-60">% Change YTD '11 vs '10 <sup> 2</sup></div>
                    <div class="col-20-percent">
                      <div align="right">64.5%</div>
                    </div>
                    <div class="col-20-percent">
                      <div align="right">19.5%</div>
                    </div>
        </div>
                 <br />
       <p align="center"><sup> 1 </sup>RDRs Submitted on Sunday are not processed until Monday
</p>
       <p align="center"><sup> 2 </sup>Included sales through previous month end only
</p>
       </strong><br />
        </div>
       
 
       
    </ion-slide>
    
    
   <ion-slide>
           
      <div class="spacer" style="width: 300px; height: 20px;"></div>
       <div style="margin-right:-20px;">
    <button style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light  button-full chart-header-lrg">&nbsp;&nbsp;Certified Pre-owned Car Sales
    <div class="small-text-chart-header-lrg">Reported as of: 04/04/2011</div>  

</button>
</div>            
                <div class="row">
                  <div class="col col-60">
                        <br>
                  </div>
                    <div class="col col-20">
                      <div align="right"><strong>Dealer</strong></div>
                    </div>
                    <div class="col col-20">
                      <div align="right"><strong>District</strong></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Pending RDRs</div>
                    <div class="col col-20">
                      <div align="right">-</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Today<sup> 1 </sup></div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Previous</div>
                    <div class="col col-20">
                      <div align="right">2	</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">15</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">MTD</div>
                    <div class="col col-20">
                      <div align="right">2</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">30</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">YTD</div>
                    <div class="col col-20">
                      <div align="right">112</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">925</div>
                    </div>
                </div>
        <div class="row">
                    <div class="col col-60">% Change YTD '11 vs '10 <sup> 2</sup></div>
                    <div class="col-20-percent">
                      <div align="right">39.2%</div>
                    </div>
                    <div class="col-20-percent">
                      <div align="right">14.7%</div>
                    </div>
        </div>
                 <br />
       <p align="center"><sup> 1 </sup>RDRs Submitted on Sunday are not processed until Monday
</p>
       <p align="center"><sup> 2 </sup>Included sales through previous month end only
</p>
       </strong><br />
        </div>
       
 
       
    </ion-slide>
    
    
    <ion-slide>
           
      <div class="spacer" style="width: 300px; height: 20px;"></div>
       <div style="margin-right:-20px;">
    <button style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light  button-full chart-header-lrg">&nbsp;&nbsp;Dealer Inventory
    <div class="small-text-chart-header-lrg">Reported as of: 04/04/2011</div>  

</button>
</div>            
                <div class="row">
                  <div class="col-lines">
                        <br>
                  </div>
                  <div class="col col-20">
                      <div align="right"><strong>Dealer</strong></div>
                    </div>
                    <div class="col col-20">
                      <div align="right"><strong>Zone</strong></div>
                    </div>
                    <div class="col col-20">
                      <div align="right"><strong>National</strong></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lines">Pending RDRs</div>
                     <div class="col col-20">
                      <div align="right">131</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">5,777</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">109,486</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lines">In Transit</div>
                     <div class="col col-20">
                      <div align="right">24</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">849</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">19,347</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lines">On Hand</div>
                     <div class="col col-20">
                      <div align="right">203</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">7,860</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">195,518</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lines">Demo Units</div>
                    <div class="col col-20">
                      <div align="right">1</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">51</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">1,127</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lines">Available Days Supply</div>
                    <div class="col col-20">
                      <div align="right">81</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">76</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">80</div>
                    </div>
                </div>
       <br />
        </div>
       
 
       
    </ion-slide>
    
    
    
    <ion-slide>
           
      <div class="spacer" style="width: 300px; height: 20px;"></div>
       <div style="margin-right:-20px;">
    <button style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light  button-full chart-header-lrg">&nbsp;&nbsp;APEX (Allocation)
    <div class="small-text-chart-header-lrg"><br /></div>  

</button>
</div>            
                <div class="row">
                
                <div class="row">
                    <div class="col"> No data available</div>
                 
                    
                </div>
                 </div>
                 <br />
       </strong><br />
        </div>     
    </ion-slide>
    
    
    
    <ion-slide>
           
      <div class="spacer" style="width: 300px; height: 20px;"></div>
       <div style="margin-right:-20px;">
    <button style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light  button-full chart-header-lrg">&nbsp;&nbsp;Honda Sales Experience (HSE)
    <div class="small-text-chart-header-lrg">Reported as of: 11/17/2016</div>  

</button>
</div>            
                <div class="row">
                  <div class="col-lines">
                        <br>
                  </div>
                    
                    <div class="col col-20">
                      <div align="right"><strong>MTD (%)</strong></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lines">Dealership Index</div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lines">Sales Consultant Index</div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-lines">Business Office Index</div>
                    <div class="col col-20">
                      <div align="right">3</div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lines">Vehicle Features & Delivery Index</div>
                    <div class="col col-20">
                      <div align="right">3</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lines">Profile Score Index</div>
                    <div class="col col-20">
                      <div align="right">355</div>
                    </div>
                </div>
        <div class="row">
                    <div class="col-lines">Profile Score Index</div>
                    
                    <div class="col-20-percent">
                      <div align="right">19.5%</div>
                    </div>
        </div>
                 <br />
                 <div style="margin-right:-20px;">
    <button style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light  button-full chart-header-lrg">&nbsp;&nbsp;Retail Sales Summary
    <div class="small-text-chart-header-lrg">Reported as of: 04/04/2011</div>  

</button>
</div>            
                <div class="row">
                  <div class="col col-60">
                        <br>
                  </div>
                    <div class="col col-20">
                      <div align="right"><strong>Dealer</strong></div>
                    </div>
                    <div class="col col-20">
                      <div align="right"><strong>District</strong></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Pending RDRs</div>
                    <div class="col col-20">
                      <div align="right">-</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Today<sup> 1 </sup></div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Previous</div>
                    <div class="col col-20">
                      <div align="right">3</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">113</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">MTD</div>
                    <div class="col col-20">
                      <div align="right">3</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">130</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">YTD</div>
                    <div class="col col-20">
                      <div align="right">355</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">3,924</div>
                    </div>
                </div>
        <div class="row">
                    <div class="col col-60">% Change YTD '11 vs '10 <sup> 2</sup></div>
                    <div class="col-20-percent">
                      <div align="right">64.5%</div>
                    </div>
                    <div class="col-20-percent">
                      <div align="right">19.5%</div>
                    </div>
        </div>
                 <br />
    
    
    
    </ion-slide>
    
    
    <ion-slide>
           
      <div class="spacer" style="width: 300px; height: 20px;"></div>
       <div style="margin-right:-20px;">
    <button style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light  button-full chart-header-lrg">&nbsp;&nbsp;Retail Sales Summary
    <div class="small-text-chart-header-lrg">Reported as of: 04/04/2011</div>  

</button>
</div>            
                <div class="row">
                  <div class="col col-60">
                        <br>
                  </div>
                    <div class="col col-20">
                      <div align="right"><strong>Dealer</strong></div>
                    </div>
                    <div class="col col-20">
                      <div align="right"><strong>District</strong></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Pending RDRs</div>
                    <div class="col col-20">
                      <div align="right">-</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Today<sup> 1 </sup></div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">0</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">Previous</div>
                    <div class="col col-20">
                      <div align="right">3</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">113</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">MTD</div>
                    <div class="col col-20">
                      <div align="right">3</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">130</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-60">YTD</div>
                    <div class="col col-20">
                      <div align="right">355</div>
                    </div>
                    <div class="col col-20">
                      <div align="right">3,924</div>
                    </div>
                </div>
        <div class="row">
                    <div class="col col-60">% Change YTD '11 vs '10 <sup> 2</sup></div>
                    <div class="col-20-percent">
                      <div align="right">64.5%</div>
                    </div>
                    <div class="col-20-percent">
                      <div align="right">19.5%</div>
                    </div>
        </div>
                 <br />
       <p align="center"><sup> 1 </sup>Indicates rank in the top 15% to be a COE dealership</p>
       <p align="center"><sup> 2 </sup>Included sales through previous month end only</p>
       </strong><br />
        </div>
       
 
       
    </ion-slide>
    
    
    
    
</ion-slide-box>

    </ion-content>
</ion-view>