<ion-view title="" id="page11">
    <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
       <div class="red-header-button">
            <div class="row">
              <div class="col col-30">
              </div>
                <div class="col col-30">
                </div>
                <div class="col col-40">
                    <div align="center"><a style="display:block;" ui-sref="tabsController.dealerSubmenu">
                       
                      <img src="shared/images/select-report-button.png" width="99" height="48" style="display: block; margin-left: auto; margin-right: auto;">                    </a> </div>
                </div>
            </div>
        </div><br />
       <ion-list>
       <a ui-sref="tabsController.dealerDashboard"> 
       
        <label class="item item-radio">
          <input type="radio" name="group" value="HTML" checked="checked">
          <div class="radio-content">
            <div class="item-content">
              Retail Sales
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </div>
 </label>
       </a>
  <ion-radio ng-model="choice" ng-value="'B'">Certified Sales</ion-radio>
  <ion-radio ng-model="choice" ng-value="'C'">Dealer Inventory</ion-radio>
   <ion-radio ng-model="choice" ng-value="'D'">APEX (Allocation)</ion-radio>
  <ion-radio ng-model="choice" ng-value="'E'">HSE</ion-radio>
   <ion-radio ng-model="choice" ng-value="'F'">HCPV</ion-radio>
  <ion-radio ng-model="choice" ng-value="'G'">Council of Sales Leadership</ion-radio>
   <ion-radio ng-model="choice" ng-value="'H'">Cross Sell</ion-radio>
     <ion-radio ng-model="choice" ng-value="'I'">CSE Daily Reports</ion-radio>
   <ion-radio ng-model="choice" ng-value="'J'">Express Service</ion-radio>
  <ion-radio ng-model="choice" ng-value="'K'">Service Training</ion-radio>
   <ion-radio ng-model="choice" ng-value="'L'">Parts Training</ion-radio>
  <ion-radio ng-model="choice" ng-value="'M'">Council of Excellence</ion-radio>
   <ion-radio ng-model="choice" ng-value="'N'">RTM</ion-radio>
</ion-list> 
     
    </ion-content>
</ion-view>