<ion-view title="Feedback" id="page9">
  <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; margin-top: -10px; width: calc(100% + 20px);">
      <img src="shared/images/feedback-header-image.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
     <div style="margin-right:-20px;">
    <button class="button button-light  button-full chart-header style1" style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;">&nbsp;&nbsp;<strong>Feedback Form</strong></button>
</div>      
    
    <div class="spacer" style="height: 15px;"></div>
    <p style="color:#000000;">Do you have any feedback or recommendations? Please let us know using the form below.</p>
      <form name="myForm" novalidate>
    <div class="row">
  <div class="col col-33">First Name*</div>
  <div class="col">

        <div class="list">
          <div class="errortext-feedback"><p ng-show="myForm.firstname.$invalid && !myForm.firstname.$pristine">*First Name is required.</p>
            <label class="item item-input input-transparent thin">
                <input type="text" name="firstname"  ng-model="firstname" ng-minlength="2" required>
            </label></div>
        </div>

</div>
</div>

 <div class="row">
  <div class="col col-33">Last Name*</div>
  <div class="col">
 
         <div class="list">
          <div class="errortext-feedback"><p ng-show="myForm.lastname.$invalid && !myForm.lastname.$pristine">*Last Name is required.</p>
            <label class="item item-input input-transparent thin">
                <input type="text" name="lastname"  ng-model="lastname" ng-minlength="2" required>
            </label></div>
        </div>
 
  </div>
</div>

 <div class="row">
  <div class="col col-33">Job Title*</div>
  <div class="col">
  
   <div class="list">
          <div class="errortext-feedback"><p ng-show="myForm.jobtitle.$invalid && !myForm.jobtitle.$pristine">*Job Title is required.</p>
            <label class="item item-input input-transparent thin">
                <input type="text" name="jobtitle"  ng-model="jobtitle" ng-minlength="2" required>
            </label></div>
        </div></div>
</div>

 <div class="row">
  <div class="col col-33">Phone</div>
  <div class="col"><label class="item item-input input-transparent thin">
              <input type="email" placeholder=" " ng-model="email">
          </label></div>
</div>

 <div class="row">
  <div class="col col-33">Email</div>
  <div class="col"><label class="item item-input input-transparent thin">
              <input type="email" placeholder=" " ng-model="email">
          </label></div>
</div>

 <div class="row">
  <div class="col col-33">Comments*</div>
<div class="col">

 <div class="list">
          <div class="errortext-feedback"><p ng-show="myForm.comments.$invalid && !myForm.comments.$pristine">*Comments are required.</p>
            <label class="item item-input input-transparent thin">
                <input type="text" name="comments"  ng-model="comments" ng-minlength="2" required>
            </label></div>
        </div></div>
</div>
    
    <div id="feedback-markdown7">
      <p style="color:#000000; font-size:90%;">If we have any questions, please select your preferred method of contact below.*</p>
    </div>
    
      <ion-checkbox name="Phone">Phone</ion-checkbox>
       <ion-checkbox name="Email">Email</ion-checkbox>
       <ion-checkbox name="Do Not Contact">Do Not Contact</ion-checkbox>
    </form>
    
    <div class="row">
<div class="col-10"></div>
  <div class="col col-50">
            </div>
  <div class="col col-27"> <a: ui-sref="tabsController.feedbackthankyou" id="login-button41" class="button-blue  button-tiny  button-block button-outline-white">Submit</a></div>
  <div class="col-33"></div>
</div>

  </ion-content>
</ion-view>