<style type="text/css">
<!--
.style1 {font-weight: bold}
-->
</style>
<ion-view title="Feedback" id="page9">
  <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; margin-top: -10px; width: calc(100% + 20px);">
      <img src="shared/images/feedback-header-image.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
     <div style="margin-right:-20px;">
    <button class="button button-light  button-full chart-header style1" style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;">&nbsp;&nbsp;Thank You</button>
</div>      
    
    <div class="spacer" style="height: 15px;"></div>
    <p style="color:#000000;"><strong>Success!</strong><br /><br />Your feedback has been received, thank you!
</p>

    
    <div class="row">

  <div class="col col-75">
            </div>
  <div class="col col-27"> <a: ui-sref="tabsController.hONDA_tab3" id="login-button41" class="button-blue  button-tiny  button-block button-outline-white">OK</a></div>

</div>

  </ion-content>
</ion-view>