<ion-view title="Home" id="page2">
<ion-nav-title>
    <img src='shared/images/honda-header-logo.png' class="title-image"/>
</ion-nav-title>

<ion-content padding="true" style="background: url(shared/images/Homepage-login-page-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
        
          <ion-slide-box>
    <ion-slide  ng-repeat="rows in response.serviceresult.data.AppFolder.SlideBox.Slide">
        
        <div class="homepage-buttons" >
        <div  >
            <div class="homepage-row"   ng-repeat="row in rows.AppIconList| limitTo:12" ng-if="$index % 3 == 0"   >
                 <div class="button-bar"   >
                    <a ui-sref="tabsController.dealerDashboard" class="button button-light button-large button-block button-clear">
                        <img src="shared/images/{{rows.AppIconList[$index].ImageUrl}}"><div class="homeicontext">{{rows.AppIconList[$index].Title}} </div>
                    </a>
                   
                    <a ui-sref="tabsController.news" class="button button-light button-large button-block button-clear">
                        <div class="center-button-bar"> <img src="shared/images/{{rows.AppIconList[$index+1].ImageUrl}}"><div class="homeicontext">{{rows.AppIconList[$index+1].Title}} </div></div>
                    </a>
                    
                  <a ui-sref="tabsController.vehicleLocator" class="button button-light button-large button-block button-clear">
                        <img src="shared/images/{{rows.AppIconList[$index+2].ImageUrl}}"><div class="homeicontext">{{rows.AppIconList[$index+2].Title}} </div>
                    </a>
                </div> 
                
</div>
               
            </div>
        </div>
       <!--  <div>
            <div class="homepage-row">
                <div class="button-bar">
                    <a ui-sref="tabsController.vIN" class="button button-light button-large button-block button-clear">
                        <img src="shared/images/VIN-Inquiry-Icon.png">
                    </a>
                    <a ui-sref="." class="button button-light button-large button-block button-clear">
                       <div class="center-button-bar">  <img src="shared/images/Facts-Guides-Icon.png"></div>
                    </a>
                    <a ui-sref="." class="button button-light button-large button-block button-clear">
                        <img src="shared/images/RTM-Mobile-Icon.png">
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="homepage-row">
                <div class="button-bar">
                    <a ui-sref="." class="button button-light button-large button-block button-clear">
                        <img src="shared/images/FOC-Mobile-Icon.png">
                    </a>
                    <a ui-sref="." class="button button-light button-large button-block button-clear">
                        <div class="center-button-bar"> <img src="shared/images/HSE-Mobile-Icon.png"></div>
                    </a>
                    <a ui-sref="." class="button button-light button-large button-block button-clear">
                        <img src="shared/images/Tech-Line-Icon.png">
                    </a>
                </div>
            </div>
        </div>
        <div> 
          
                <div class="button-bar">
                    <a ui-sref="tabsController.store" class="button button-light button-large button-block button-clear">
                        <img src="shared/images/Store-Icon.png">
                    </a>
                    <a ui-sref="tabsController.feedback" class="button button-light button-large button-block button-clear">
                        <div class="center-button-bar"> <img src="shared/images/Contact-Icon.png"></div>
                    </a>
                    <a ui-sref="tabsController.fAQ" class="button button-light button-large button-block button-clear">
                        <img src="shared/images/FAQ-Icon.png">
                    </a>
                
            </div>
        </div>-->
        </div>
           </ion-slide>
    
    
    <!-- <ion-slide>
    
    <div class="homepage-buttons">
        <div>
            <div class="homepage-row" >
                <div class="button-bar">
                    <a ui-sref="." class="button button-light button-large button-block button-clear">
                        <img src="shared/images/FAQ-Icon.png">
                    </a>
                   
                    <a ui-sref="." class="button button-light button-large button-block button-clear">
                        <div class="center-button-bar"> <img src="shared/images/FAQ-Icon.png"></div>
                    </a>
                    
                    <a ui-sref="." class="button button-light button-large button-block button-clear">
                        <img src="shared/images/FAQ-Icon.png">
                    </a>
                </div>
            </div>
        </div></div>
    <br /><br />
    </ion-slide>  -->
</ion-slide-box>   
    </ion-content>
</ion-view>

