<ion-view title="Login" id="page15">
<ion-nav-title>
</ion-nav-title>
<ion-nav-buttons side="left"></ion-nav-buttons>
<ion-content ng-controller="login-genericCtrl">


 <div class="spacer" style="height: 100px;"></div>
     <div class="row">

      <div class="col"></div>
  <div class="col col-75"><div class="list list-inset mt120"><br />
    <img src="shared/images/iN-logo-lrg.png"   style="display: block; margin-left: auto; margin-right: auto;"><br />

    <form name="myForm" novalidate> 
    	<span class="error" ng-show="error" ng-cloak> {{error}}</span>
        <div class="list">          
          <div class="error"><p ng-show="myForm.dealer.$invalid && !myForm.dealer.$pristine">Incorrect credentials entered.</br> Please try again.</p>
            <label class="item item-input input-transparent mt10">
                <input type="text" name="dealer" placeholder="DEALER NUMBER" ng-model="dealer" ng-minlength="2" required>
            </label></div><br />
            
             <div class="error"><p ng-show="myForm.user.$invalid && !myForm.user.$pristine">Incorrect credentials entered.</br> Please try again.</p>
            <label class="item item-input input-transparent mt10">
                <input type="text" name="user" placeholder="USER ID" ng-model="user" ng-minlength="2" required>
            </label></div><br />
          
          <div class="error"><p ng-show="myForm.password.$invalid && !myForm.password.$pristine">Incorrect credentials entered.</br> Please try again.</p>
            <label class="item item-input input-transparent mt10">
                <input type="password" name="password"  placeholder="PASSWORD" ng-model="password" ng-minlength="2" required>
            </label>
         </div>
        </div>
    </form><br />
    <div class="row">

  <div class="forgot-reset-text"><a ui-sref="genericChangePassword" id="login-button42" style="text-align:left;" class="button button-light button-small button-block button-clear">Change Password</a>
            <a ui-sref="genericResetPassword" id="login-button43" style="text-align:left;" class="button button-light button-small button-block button-clear">Reset password</a>
            </div>
  <div class="col"> <a: ng-click="genericSubmit()" id="login-button41" class="button-white  button-small  button-block button-outline-white">Log in</a></div>

</div>
      </div></div>
      
  <div class="col"></div>

</div>

</ion-content>



</ion-view>
<ion-content padding="true" style="background: url(shared/images/generic-login-page-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
