<ion-view title="Latest News" id="page4">
    <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header"><div class="red-header-button">
            <div class="row">
              <div class="col col-30">
              </div>
                <div class="col col-30">
                </div>
                <div class="col col-40">
                    <div align="center"><a style="display:block;" ui-sref="tabsController.newssubmenu">
                       
                      <img src="shared/images/select-news-button.png" height="48" style="display: block; margin-left: auto; margin-right: auto;">                    </a> </div>
                </div>
            </div>
        </div>
         <div class="spacer" style="width: 300px; height: 20px;"></div>
       <div style="margin-right:-20px;">
    <button style="left:-10px;color:#0079BD;font-size:15px;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light  button-full chart-header">&nbsp;&nbsp;Business Improvement</button>
</div>  
        
       
    </ion-content>
</ion-view>