<ion-view title="Latest News" id="page3">
    <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
       <div class="red-header-button">
            <div class="row">
              <div class="col col-30">
              </div>
                <div class="col col-30">
                </div>
                <div class="col col-40">
                    <div align="center"><a style="display:block;" ui-sref="">
                       
                      <img src="shared/images/select-news-button.png" width="99" height="48" style="display: block; margin-left: auto; margin-right: auto;">                    </a> </div>
                </div>
            </div>
        </div><br />
       <ion-list>
      
  <ion-radio ng-model="choice" ng-value="'B'">Sales  </ion-radio>
  <ion-radio ng-model="choice" ng-value="'C'">Certified Pre-Owned</ion-radio>
   <ion-radio ng-model="choice" ng-value="'D'">Service</ion-radio>
  <ion-radio ng-model="choice" ng-value="'E'">F&I / HFS</ion-radio>
   <ion-radio ng-model="choice" ng-value="'F'">Executive Management </ion-radio>
    <a ui-sref="tabsController.news"> 
       
        <label class="item item-radio">
          <input type="radio" name="group" value="HTML" checked="checked">
          <div class="radio-content">
            <div class="item-content">
              Business Improvement
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </div>
 </label>
       </a>
  <ion-radio ng-model="choice" ng-value="'G'">Business Office</ion-radio>
</ion-list> 
     
    </ion-content>
</ion-view>