<ion-view title="Reset Password" id="page14">

<ion-nav-buttons side="left"></ion-nav-buttons>
    <ion-content padding="true" style="background: url(shared/images/Homepage-login-page-bg.jpg) no-repeat center;background-size:cover;" class="has-header">

     <div class="spacer" style="width: 300px; height: 45px;"></div>
     
<div class="darkbg">     
     
     <div>
    <img src="shared/images/iN-logo-lrg.png"   style="display: block; margin-left: auto; margin-right: auto;" ng-show="showGenericLogo">
  	<img src="shared/images/honda-log-logo.png"   style="display: block; margin-left: auto; margin-right: auto;" ng-show="showHondoLogo">
</div>
<div class="reset-forgot-text">
     <div class="row">

      <div class="col"></div>
  <div class="col col-75"><div class="list list-inset mt120">
  <strong>
  <p align="center">Enter dealer number and user ID, then click reset password.
    <br />
    A new password will be emailed.</p>
  </strong>
          <form name="myForm" novalidate>
        <div class="list">        
        <div class="fieldlist"> 
          <div class="errortext-login-forgot-reset">
            <p ng-show="myForm.dealer.$invalid && !myForm.dealer.$pristine">Information entered does not match our records. Contact your iN administrator.</p>
          <label class="item item-input input-transparent mt10">
                <input type="text" name="dealer" placeholder="DEALER NUMBER" ng-model="dealer" ng-minlength="2" required>
            </label></div><br />
            
             
            <label class="item item-input input-transparent mt10">
                <input type="text" name="user" placeholder="USER ID" ng-model="user" ng-minlength="2" required>
            </label><br />
          
         
        </div></div>
    </form>
    
    <a href="#/login" class="button-white-fill  button-small  button-block button-outline-white" id="login-button41">RESET PASSWORD</a>
<br />
     
    <strong> <p align="center">Use the list below to identify your iN administrator for assistance.</p>
    </strong>
     
     <a class="button-white-fill  button-small  button-block button-outline-white" id="login-button41" ng-click="toggleSomething()">iN  Administrators</a>
<br />

      <div ng-show="isVisible" >      
     <ion-list id="login-button41" class="adminlist" >
        <div ng-repeat="items in adminList">          
          <ion-item  class="adminlistitem">         
            {{items}}
          </ion-item>
        </div>
      </ion-list>
      </div>     


  <!-- <div class="adminlist">  
   <div class="adminlistitem">Train8 Train</div>
   <div class="adminlistitem">Train6 Train</div>
   <div class="adminlistitem">Train27 Train</div>
   <div class="adminlistitem">Train26 Train</div>
    <div class="adminlistitem">Train31 Train</div>
   <div class="adminlistitem">Train35 Train</div>
   <div class="adminlistitem">Train43 Train</div>
   <div class="adminlistitem">Train54 Train</div>
</div> -->

  
      </div></div>
  <div class="col"></div>

</div></div>

  </ion-content>
</ion-view>
