<ion-view title="Reset Password" id="page4">
    <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header"><div class="red-header-button">
 <div class="spacer" style="height: 25px;"></div> 
<strong> Your request for resetting your password has been successfully processed.</strong>
<div class="spacer" style="height: 20px;"></div> 
       <a: ui-sref="tabsController.hONDA_tab3" id="login-button41" class="button-blue  button-tiny  button-block button-outline-white">OK</a>
    </ion-content>
</ion-view>