<ion-view title="Tabs Controller" id="page1" class="tabcolor" hide-tabs >

    <ion-tabs class="tabs-positive tabs-icon-top main-home-tab" id="tabsController-tabs1" ng-class="{'tabs-item-hide': hideTabs}">
        <ion-tab title=""  href="#/page1/tab4/fAQ" id="tabsController-tab4" class="faq">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title=""  href="#/page1/tab2/home" id="tabsController-tab2" class="Homebutton">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title=""  href="#/page1/tab3/feedback" id="tabsController-tab3" class="message">
         <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
     </ion-view>

