<ion-view title="VIN Inquiry" id="page8">
  <ion-content padding="true" style="background: url(shared/images/generic-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; margin-top: -10px; width: calc(100% + 20px);">
      <img src="shared/images/vin-header-image.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>

<div class="row">

      <div class="col"></div>
  <div class="col col-75"><div class="list list-inset mt120">
   <button id="vIN-button18" class="scan-vin-button  button-block">Scan VIN  <div class="barcode"><img src="shared/images/barcode.png" width="65" /></div>   ▶</button><br />
          <label class="item item-input input-transparent">
              <input type="email" placeholder="MANUALLY ENTER VIN" ng-model="email">
          </label>
      </div></div>
  <div class="col"></div>

</div>

<div class="row">
<div class="col-10"></div>
  <div class="col col-50">
            </div>
  <div class="col col-27"> <a: ui-sref="tabsController.hONDA_tab3" id="login-button41" class="button-blue  button-tiny  button-block button-outline-white">Submit</a></div>
  <div class="col-33"></div>
</div>



  </ion-content>
</ion-view>
