
/* Stylesheet content from shared/css/app/main.css in folder common */

/* Stylesheet content from shared/css/main.css in folder common */


body {
  position: initial;
  
}

.splash {
    background: url('../../images/ml.ryaamobi_login_landscape.jpg') no-repeat center 0% fixed;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
.listsubheader{
	background-color: #BBB !important;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#BBB)) !important;
    padding: .4em 15px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    border: 1px solid #BBB !important;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #EEE !important;
    background-image: -webkit-linear-gradient( #DDD,#BBB ) !important;
    background-image: -moz-linear-gradient( #DDD,#BBB ) !important;
    background-image: -ms-linear-gradient( #DDD,#BBB ) !important;
    background-image: -o-linear-gradient( #DDD,#BBB ) !important;
    background-image: linear-gradient( #DDD,#BBB ) !important;
    color: black;
    /*height:30px;
    line-height: 1px;*/
}
.item{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.bordertopround{
	    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.NumberAlign{text-align: right;}

 .list-inset .item:first-child{
 border-top-left-radius:10px !important;
 border-top-right-radius:10px !important;
 }
  .list-inset .item:last-child{
 /*border-bottom-left-radius:10px !important;
 border-bottom-right-radius:10px !important;*/
 }
 .popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 33%;
    float: left;
    padding: 65px;
    padding-top:45px !important;
    padding-bottom:45px !important;
  
}

.caption{
	text-align: center;
}

.shake {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}


@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-5deg);
        animation-timing-function: ease-in;
    }
    50% {
        -moz-transform: rotate(5.5deg);
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-5deg);
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: rotate(5.5deg);
        animation-timing-function: ease-out;
    }
}


