/* @override http://localhost:8100/css/styles.css */

/* ==========================================================================
New CSS
========================================================================== */

  a.Homebutton.tab-item {
	-webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);

}

div.homepage-buttons {
	padding: 20px;
}

i.ion-arrow-down-b {
	padding-left: 5px;
	color: silver;
	font-size: 15px;
	top: -1px;
}


ion-header-bar.bar-positive.bar.bar-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/Homepage-login-page-bg.jpg');
}


a.faq.tab-item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-image: url('../../images/tab-faq.png');
}

a.Homebutton.tab-item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-image: url('../../images/tab-home.png');
}

a.message.tab-item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-image: url('../../images/tab-contact.png');
}

.chart-header{
  background-repeat: repeat-x;
  border-bottom: 0px solid #0e84ae;
  background-image: url('../../images/chart-gray-bar.jpg');
  -webkit-box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.15);
box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.15);
	font-weight: bold;
}



button.button.button-light.button-full.chart-header.style1.style1 {
	font-weight: bold;
}


div.red-header-button {
	position: relative;
	top: -20px;
	margin-bottom: -30px;
}

.homepage-row {
  border-bottom: 1px solid rgba(254,255,255,0.2);  }

div.center-button-bar {
border-right: 1px solid rgba(254,255,255,0.2);
border-left: 1px solid rgba(254,255,255,0.2);
}


a#login-button42.button.button-light.button-small.button-block.button-clear {
	color: white;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
  text-transform: uppercase;
	padding-left: 16px;
}

a#login-button43.button.button-light.button-small.button-block.button-clear {
	color: white;
	font-weight: bold;
  text-transform: uppercase;
		font-size: 11px;
	text-align: left;
	padding-left: 16px;
}

div.faq-spacer {
	padding-left: 22px;
	padding-right: 2px;
}

label.item.item-input.item-select {
	border-radius: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	max-width: 175px;
	margin: auto ;
	background-color: #1c5d8e;
	border: 3px solid white;
}



.button-white {
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	max-width: 175px;
}

.button-white-fill {
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
	text-align: center;
	font-weight: bold;
	color: white;
	max-width: 175px;
	margin: auto ;
	background-color: #1c5d8e;
	font-size: 14px;
}


div.login-page-list {
	width: 400px;
    margin: auto;
}

div.login-page-buttons {
	width: 400px;
    margin: auto;
}

.col-20-percent {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  border-bottom: 1px solid #fff;
  display: table-cell;
  padding-top: 3px;
  padding-bottom: 3px;
padding-left: 0;
position: relative;
left: -6px;
}

.tabs-positive > .tabs,
.tabs.tabs-positive {
  background: #013858 url(../../images/honda-tabs-bg.png) repeat-x; }

.button-blue {
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
  color: #0079be !important;
  border-color: #0079be;
  	max-width: 120px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin: auto;
}



.scan-vin-button {
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
	text-align: center;
	text-transform: uppercase;
  color: #0079be !important;
  border-color: #0079be;
	padding: 12px;
	direction: ltr;
	background-color: transparent;
	font-size: 17.5px;
	line-height: 24px;
	text-indent: 0;
	font-variant: normal;
	font-weight: bold;
}

div.barcode {
	display: inline;
	padding-right: 20px;
	padding-left: 5px;
	position: relative;
	top: 4px;
}

.item-checkbox {
  padding-left: 60px;
	background-color: transparent;
	color: #00324f;
	margin-bottom: -15px;
}

div.reset-forgot-text {
	color: white;
	font-size: 13px;
}

label.item.item-input.input-transparent.thin{
	height: 30px;
}

label.item.item-input.input-transparent.mt10 {
	margin: auto;
	margin-bottom: -8px;
	max-width: 260px;
}

div.errortext {
	text-align: center;
	color: #ff2600;
	text-shadow: black 0 0 10px;
	opacity: 1;
	font-weight: bold;
}

div.errortext-login-forgot-reset { 
    text-align: center;
	color: #ffdb91;
	opacity: 1;
	font-weight: bold;
	font-size: 12px;
	text-shadow: black 1px 1px 10px;
	line-height: 14px;
}

div.adminlistitem {
	border-color: white;
  background-color: #1b5d8d;
  color: #fff;
  position: relative;
  z-index: 2;
  display: block;
	border-style: solid;
	border-bottom: 1px solid #118fb6;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	margin-right: 16px;
	margin-left: 16px;
	height: 42px;
	line-height: 10px;
	letter-spacing: 1px;
	font-size: 15px;
}

div.adminlist {
	border-style: solid;
	border-width: 1px;
	background-color: #1b5d8c;
}

div.errortext-change-pass { 
	color: #ffdb91;
	opacity: 1;
	font-weight: bold;
	font-size: 12px;
	text-shadow: black 1px 1px 10px;
	line-height: 14px;
	margin-left: 60px;
}

div.errortext-feedback {
	color: red;
  font-size: 13px;
	font-weight: bold;
}

div.forgot-reset-text {
	position: relative;
	left: -19px;
}

.chart-header-lrg{
  background-repeat: repeat-x;
  border-bottom: 0px solid #0e84ae;
  background-image: url('../../images/chart-gray-bar-lrg.png');
	font-weight: bold;
}

.slider-slide {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  vertical-align: top;
  	left: 99px;
	padding-left: 20px;
	padding-right: 20px;
}

.ion-slide-dealer {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  vertical-align: top;
  	left: 99px;
	padding-left: 20px;
	padding-right: 20px;
}

div.small-text-chart-header-lrg {
	font-size: 11px;
	margin-top: -15px;
	margin-left: 8px;
	font-style: italic;
	color: #1185ae;
}

.col-lines {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #fff;
  }

div.whitetext {
	color: white;
	font-size: 12px;
	padding-bottom: 25px;
	line-height: 1.3em;
}
  
  div.list.list-inset.mt120 {
	margin: auto;
	max-width: 285px;
	font-size: 12;
}

div.fieldlist {
	margin: auto;
	max-width: 265px;
}

div.dealericon {
	max-width: 25px;
	text-decoration: line-through;
}

div.homeicontext {
	font-size: 13px;
	line-height: 14px;
	text-align: center;
	font-weight: bold;
}

div.darkbg {
	padding-top: 34px;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: -20px;
	padding-bottom: 430px;
	background-color: rgba(0,0,0,0.3);
}


ion-icon.ion-close {
	color: red;
	padding-right: 5px;
}

ion-icon.ion-checkmark {
	color: lime;
	padding-right: 5px;
}

ion-icon.ion-record {
	padding-right: 5px;
	font-size: 9px;
}


